<!-- María Esrther Ramírez Cedillo -->

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculdora de fracciones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <h1> Calculadora de fracciones </h1>
    <h2> Endpoints de la calculadora </h2>
    <ul> 
        <li>URL: /suma</li>
        <li>URL: /resta</li>
        <li>URL: /multiplicacion</li>
        <li>URL: /division</li>
    </ul>
    
